.footer{
    display: block;
    .section-f{
        width: 100%;
        .cont-imgf{
            overflow: hidden;
            position:relative;
            background: url("../img/7.jpg") no-repeat center;
            .f-container{
                background:$background;
                height: 100%;
                padding: 70px 0;
                .container{
                    background:transparent;
                    display: block;
                    .cont-footer{
                        display:grid;
                        grid-template-columns: 2fr 1fr 2fr 1fr;
                        gap:40px;
                        width: 100%;
                        justify-content: space-between;
                        font-family: $oxigen;
                        border-bottom: 2px solid rgba(255, 255, 255, 0.1);
                        .item-f{
                            color:$white-color;
                            text-align: left;
                            font-family: inherit;
                            .tittle-itm{
                                color:inherit;
                                font-size: 20px;
                                font-weight: 600;
                                line-height: 25px;
                                font-family: inherit;
                                margin-bottom: 25px;
                            }
                            .map-f {
                                margin-bottom:20px;
                                a{
                                    display:flex;
                                    line-height: 25px;
                                    color:inherit;
                                    align-items: center;
                                    i{
                                        margin-right: 15px;
                                        font-size: 18px;
                                        color:$orange-c;
                                    }
                                    .map-bh{
                                        font-family: $oxigen;
                                        font-weight: normal;  
                                        font-size: 14px; 
                                        &:hover{
                                            color: $orange-c;
                                        }
                                    }
                                }
                                .link-gf{
                                    margin-bottom: 10px;
                                    font-size: 14px; 
                                    &:hover{
                                        color: $orange-c;
                                    }
                                }
                            }
                            
                            .link-f{
                                 display:flex;
                                 .icon-f{
                                     background-color: rgba(255, 255, 255, 0.1);
                                     width: 35px;
                                     height:35px;
                                     text-align: center;
                                     font-size: 18px;
                                     color: $white-color;
                                     border-radius: 50%;
                                     line-height: 35px;
                                     margin-right: 10px;
                                     transition: 0.3s;
                                     &:hover{
                                         background-color: $orange-c;
                                     }
                                 }
                            }
                            .input{
                                margin-bottom: 25px;
                                display:flex;
                                #email{
                                    background: rgba(255, 255, 255, 0.1);
                                    border: 1px solid rgba(255, 255, 255, 0.15);
                                    padding: 12px 20px;
                                    font-size: 16px;
                                    outline:none;
                                    width:85%;
                                    color:#fff;
                                    border-radius: 0.25rem 0 0 0.25rem;
                                }
                                a i{
                                    color:#fff;
                                    background-color: $orange-c;
                                    padding: 14px 20px;
                                    font-size: 19px;
                                    outline:none;
                                    text-align:center;
                                    border:none;
                                    border-radius:0 0.25rem 0.25rem 0;
                                }
                            }
                        }
                    }
                    .btt-f{
                        display:flex;
                        justify-content: space-between;
                        flex-wrap: wrap;
                        margin-top: 3rem;
                        .nm-g, .nm-l{
                            color:#fff;
                            display:flex;
                            align-items: center;
                            i{
                                margin-right: 15px;
                            }
                            a{
                                margin-right: 15px;
                                color:#fff;
                                display:flex;
                            }
                        }
                    }
                } 
            } 
        }
    }
}

@media(max-width:992px){
    .footer .section-f .cont-imgf .f-container .container{
        .cont-footer{
            grid-template-columns: 2fr 1fr;
        }
         .btt-f{
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }
}
@media(max-width:480px){
    .footer .section-f .cont-imgf .f-container .container{
        .cont-footer{
            grid-template-columns: 1fr 1fr;
            .one{
                grid-column:span 2;
            }
            .three{
                grid-column: span 2;
            }
            grid-auto-flow: dense;
        }
         .btt-f{
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }
}