@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&display=swap');

:root{
    --orange1: #BA4A00;
    --orange2: #D35400;
    --yellow: #faca2b;
    --blue1: #2C3E50;
    --blue2: #17202A99;
}

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body{
    font-family: "Consolas", monospace;
}
/*contenedor header*/
.contenedor{
    width:100%;
    height:30vh;
    position:relative;
    text-align:center;
    display: block;
}

h1{
    padding: 20px;
}

h4{
    color: var(--orange1);
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

/*imagen de fondo del header*/
.logo{
    width:100%;
    height: 100%;
}

nav{
    position: absolute;
    top: 0%;
    height: 60%;
    width: 100%;
    align-items: center;
    display: flex;
    background-color: var(--blue2);
    flex-wrap: wrap;
}

/*DIgitalEdu*/
h5{
    width:40vh;
    font-size: 30px;
    padding-left: 80px;
    color: #07f5f5;
}
/*contenedor de la barra de busqueda*/
.div_input{
    display: flex;
    width:25%;
}
/*input*/
.input_nav{
    height:40px;
    border-radius: 10px;
    width:80%;
    font-size: 15px;
}
/*I icono de lupa*/
.i_search{
    color: white;
    font-size: 30px;
    margin-top: 6px;
    }

 /*UL contenedor del menú*/
.nav_links{
    font-size: 20px;
    width: 50%;
    height: 40px;
    text-align: center;
    flex-wrap: wrap;
}

/*a links menu*/
.link{
    color: white;
    padding:0px 10px;
    text-decoration: none;
}

/*Boton del menú de navegacion*/
button{
    padding:12px 20px;
    border-radius: 20px;
    background-color: #263333;
    color: rgb(0, 255, 242);
    font-weight: 800;
    border:none;
    cursor: pointer;
    transition:all 0.5s ease 0s;
}

button:hover{
    background-color:#17202A;
    padding:15px 23px;
    border-radius: 50px;
    font-size: 20px;
}

/*MAIN*/
/*SECCION 1*/
.about{
    width: 100%;
    height:70vh;
    display: flex;
}
/*container image*/
.about_img{
    width: 50%;
    height:100%;
    text-align: right;
    padding-top: 70px;
    padding-right: 0%;
}
/*imagen*/
.imagen_about{
    width: 75%;
    height:85%;
    margin-right: 10px;
    border-radius: 20px;
}
/*container text*/
.about_text{
    height:100%;
    width:50%;
    text-align: center;
    padding:10% 10% 0 5%;
}

.j{
    width:100%;
    margin-bottom: 20px;
}
/*contenedor de las barras de progreso*/
.finance{
text-align: left;
padding-left: 20px;
}

.progress_name{
    text-align: center;
    font-weight: 500;
    color:#044747;
}
/*barras de progreso*/
progress{
    width: 95%;
    height: 10px;
    border-radius: 5px;
}
/*representa la parte rellena de la barra del elemento */
progress::-webkit-progress-value {
    background: rgb(243, 208, 9);
}

/*SECCION 2*/

.choose{
    width: 100%;
    height:70vh;
    background-color: #fafafa;
    display: flex;
}
/*contenedor text*/
.choose_text{
    width: 50%;
    height:100%;
    text-align: right;
    padding:10% 0% 5% 5%;
    
}
/*div 1*/
.why_choose{
    text-align: center;
    padding: 0 10%;
}
/*div 2*/
.educating_choose{
    padding:0 17%;
}

/* div 3 container mission/vision */
.choose_mv{
    display: flex;
    height:15vw;
}

.t{
    font-size: 20px;
    font-weight: 800;
    color:#D35400;
    padding: 15px;
}

.o{
    padding:12px;
}


/*container image*/
.choose_img{
    width: 50%;
    height:100%;
    text-align: left;
    padding-top: 70px;
    padding-left: 0%;
}

/*imagen*/
.imagen_choose{
    height:85%;
    width:75%;
    margin-left: 10px;
    border-radius: 20px;
}

/*SECCION 3*/

.skills{
    width: 100%;
    height:70vh;
    display: flex;
}
/*container image*/
.skills_img{
    width: 50%;
    height:100%;
    text-align: right;
    padding-top: 70px;
    padding-right: 0%;
}
/*imagen*/
.imagen_skills{
    width: 75%;
    height:85%;
    margin-right: 10px;
    border-radius: 20px;
}
/*container text*/
.skills_text{
    height:100%;
    width:50%;
    text-align: center;
    padding:5% 10% 0 5%;
}

.i{
    width:100%;
    margin-bottom: 20px;
}
/*contenedor de las barras de progreso*/
.finance{
text-align: left;
padding-left: 20px;
}

.progress_name{
    text-align: center;
    font-weight: 500;
    color:#044747;
}
/*barras de progreso*/
progress{
    width: 95%;
    height: 10px;
    border-radius: 5px;
}
/*representa la parte rellena de la barra del elemento */
progress::-webkit-progress-value {
    background: rgb(243, 208, 9);
}


  /*SECTION 4*/
/*contenedor de la imagen*/
.courses{
    width: 100%;
    height:30vh;
    background-color:cadetblue;
    position:relative;
    text-align: center;
    display: block;
    overflow: hidden;
}

.imagen_courses{
    width: 100%;
    height:auto;
    display: block;
}

.text_courses{
    position: absolute;
    top: 30%;
    left:40%;
    display: flex;
    /*transform: translate(-50%, -50%); /*centrar*/
    padding: 0 50px;
    justify-content:space-between;
}

.p_courses{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight: 400;
    padding-right: 50px;
}

.bot{
    padding:20px;
    border-radius: 50px;
    background-color:#fafafa;
    color: #044747;
}

.bot:hover{
    background-color:#f8e2e2;
}


    /*SECTION 5*/
    /*titulo*/
    .services{
        background: #fafafa;
    }

    .container{
        width: 90%;
        max-width: 1200px; /*que el 90% no rebase los 1200 px*/
        margin: 0 auto; /*auto hacia los lados, el 90% se centra*/
        overflow: hidden;/*si algo llega a salir del contenedor, no quiero que se vea*/
        padding: 100px 0;
        height: auto;
         
    }

    .subtitle{
        font-size: 42px;
    }

    .instructors{
        color: var(--blue1);
        font-size: 22px;
        line-height: 32px;/*tamaño de la linea vertical*/
        margin-bottom: 60px;
    }
/*contenedor image-name*/
    .art{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
    }
/*contenedor image*/
    .cont_img{
        width: 24%;
        padding:20px 0;
        overflow: hidden;/*permite regular la visiblidad de los contenidos que sobresalen de una caja html*/
        position: relative;/*su posición dependerá del lugar donde esté en el código y el flujo HTML*/
        text-align: center;
        margin-bottom: 60px;
    }
/*imagen*/
    .imgg{
        width:85%;
        height:247px;
        object-fit: cover; /*debería redimensionarse para ajustarse a su contenedor*/
        border-radius: 220px;
    }
/*texto de la imagen*/
    ._text{
        text-align:left;
        width:90%;
        margin:0 auto;/*auto hacia los lados*/
    }
    /*nombre instructor*/
    .name{
        color: var(--gold2);
        font-weight: 700; /*peso o grueso de la letra*/
        margin: 25px 0 12px;
        font-size: 18px;
        text-align: center;
    }


            /*FOOTER*/
footer{
    background-color: #0a0f18;
    color: #ffffff90;
    font-family: Arial, Helvetica, sans-serif;
}

/*titulos h1*/
.titulosh1{
    color: white;
    padding:0px;
    
}

/*seccion 1 container*/
.footer_uno{
    width: 100%;
    height: 45vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
/*apartados*/
.digital_edu{
    width:10%;
    height:37vh;
    text-align: left;
    margin-left: 20px;
    margin-top: 10px;
}
.contact_info{
    width:20%;
}
 /*iconos de contacto*/
.iconocontact{
    font-size: 20px;
    color:var(--orange2);
    background-color: white;
    padding:10px;
    margin-right: 20px;
    border-radius: 20px;
}

/*sección 2 container*/
.footer_dos{
    width:auto;
    height:10vh;
    border-top: 1px solid #ffffff90;
    display: flex;
    align-items: center;
    justify-content:space-between;
    padding: 0 15%;
}

.copyright{
    display: flex;
}

.politicy{
    text-decoration: none;
    color:#ffffff90;
    padding: 15px;
}



/****  RESPONSIVE  *****/

@media screen and (max-width:1230px){

    .container_img_team {
        height: 25vh;
        margin-top: 70px;        
    }

    .container_name_team {
        padding: 10px;
    }

    .iconocontact {
        font-size: 15px;
        margin-right: 2px;
    }

}

@media screen and (max-width:1185px) {
    
    /*barra de navegación*/
    nav{
        padding: 30px 0;
        align-items: center;
        justify-content: center;
        height:70%;
    }

    h5{
        padding-left: 0px;
    }

    .nav_links{
        margin-top: 0px;
        text-align: center;
        padding-top: 15px;
    }

    .container_img_team {
        height: 24vh;
    }    

    /*SECCION 4*/
    .text_courses {
        left:30%;
        top: 37%;
    }

    .p_courses {
        padding-top:10px;
    }

    .bot {
        padding: 18px;
    }

    /*seccion 5*/
    /*contenedor del titulo*/
    .container {
        padding: 36px 0;
    }

    /*contenedor instructores*/
    .cont_img {
        width:32%;
    }

}

@media screen and (max-width:960px){

    /*barra de navegación*/
    .nav{
        display: flex;
        justify-content: space-evenly;
    }

    .nav_links {
        margin-top: 9px;
        width: 54%;
        height:50px;
        text-align: center;
    }

    h5{
        width:31vh;
    }
    
    /*imagen seccion 1*/
    .about_img {
        width: 70%;
    }

    /*imagen sección 2*/
    .choose_img {
        width: 70%;
    }

    /*contenedor texto seccion 2*/
    .choose_text {
        padding: 7% 0 5% 5%;
    }  

    /*texto sección 2*/
    h1{
        padding:0;
        text-align: center;
    }

    /*imagen sección 3*/
    .skills_img{
        width:70%;
    }

    /*SECCION 4*/
    .text_courses {
        left:20%;
        top: 37%;
    }

    .p_courses {
        padding-top:10px;
    }

    .bot {
        padding: 18px;
    }

    /*footer*/
    .digital_edu {
        width: 12%;
    }

    .contact_info{
        width:20%;
    }

    .titulosh1{
        color: white;
        padding-bottom:10px;
        text-align: left;
    }
}

    @media screen and (max-width:891px){
/*navegacion*/
        h5 {
            width: 37vh;
        }

        .div_input {
            width: 45%;
        }

        .input_nav {
            width:97%;
        }

        .nav_links {
            width:77%;
            text-align: center;
            margin-top: 9px;
    }
/*seccion 1*/
/*contenedor imagen y text*/
    .about {
        height:140vh;
        display:inline;
    }
/*contenedor de la imagen*/
    .about_img {
        width:100%;
        text-align:center;
    }
    /*text*/
    .about_text {
        width:100%;
        padding-top:0%;
        padding-bottom: 5%;
        text-align:center;
    }

    .j {
        padding:0 15%;
    }

    /*seccion 2*/
    /*contenedor imagen y text*/
    .choose {
        height:140vh;
        display:inline;
    }

    /*contenedor de la imagen*/
    .choose_img {
        width:98%;
        text-align:center;
        padding-top: 10px;
    }

    /*text*/
    .choose_text {
        width:100%;
        padding:5% 12% 5% 12%;
        text-align:center;
        align-items: center;
        justify-content:center;
    } 

    /*seccion 3*/
    /*contenedor imagen y text*/
    .skills {
        height:140vh;
        display:inline;
    }

    /*contenedor de la imagen*/
    .skills_img {
        width:100%;
        text-align:center;
    }

    /*text*/
    .skills_text {
        width:100%;
        padding:0 85px 15% 85px;
        padding-bottom: 5%;
        text-align:center;
    }

    /*sección 5*/
    .cont_img {
        width:45%;
    }

    /*Footer*/

    /*sección 1 container*/

    .footer_uno {
        justify-content: space-evenly;
    }

    .contact_info{
        width:30%;
    }

    .iconocontact {
        font-size: 10px;
    }
/*sección 2 container*/
    .footer_dos {
        padding: 0 9%;
    }
}


