@import '_heading';

.section-f{
    background: $light-bg-color;
    .cont-sec-f{
        padding-top: 3rem;
        padding-bottom: 3rem;
        .container{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;
            background-color: transparent;
            .itemsf{
                display: flex;
                flex-wrap: wrap;
                margin-right: -15px;
                margin-left: -15px;
                .fg-h{
                    display:flex;
                    flex: 0 0 50%;
                    max-width: 50%;
                    align-items:start;
                    padding-left: 15px;
                    padding-right: 15px;
                    margin-top:20px;
                    margin-bottom: 20px;
                    .icon-br{
                        padding: 15px;
                        margin-right: 5%;
                        background-color: $orange-c;
                        @include border-radius-btn(4px);
                        color: #fff;
                    }
                    div{  
                        .dfm{
                            font-size: 20px;
                            font-weight: 600;
                            transition: 0.2s ease-in;
                            &:hover{
                                color: $orange-c;
                            }
                        }
                        p{
                            margin-top: 15px;
                        }
                        div{
                            margin-top: 3%;
                            .btn-rm{
                                color: $orange-c;
                                font-size: 16px;
                                font-weight: 600;
                                transition: 0.2s ease-in;
                                @include border-radius-btn(5px);
                            }
                        }
                    }
                }
            }
        }
    }
    
}

@media(max-width:760px){
    .section-f .cont-sec-f .container .itemsf .fg-h{
        flex: 0 0 100%;
        max-width: 100%;
    }
}