.container-c{
    background: $background-s;
    display: block;
    padding: 3rem 0;
}
.ch-s{
    justify-content: space-between;
    padding-bottom: 3rem;
    padding-top: 3rem;
    background: inherit;
    .div-s{
        flex: 0 0 33.33333%;
        max-width: 0 0 33.33333%;
        padding-right: 15px;
        padding-left: 15px;
        .sc-g{
            padding: 30px;
            background: $white-color;
            text-align: center;
            @include border-radius-btn(4px);
            @include theme;
            display:block;
            i{
                font-size: 2.5rem;
                color: $orange-c;
            }
            .hf-k{
                padding-bottom: 1rem;
                a{
                    text-decoration: none;
                    font-weight: 700;
                    color: $logo;
                    font-size: 22px;
                    transition: 0.3s ease-in;
                    span{
                        font-weight: 400;
                    }
                    &:hover{
                        color:$orange-c;
                    }
                }
            }  
            p{
                margin: 12px 0 0;
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                line-height: 26px;
                color: $text-color;
            }
            div{
                margin-top: 30px;
                .btn-rm{
                    color: $orange-c;
                    font-size: 16px;
                    font-weight: 600;
                    margin-top: 5%;
                    transition: 0.2s ease-in;
                    @include border-radius-btn(5px);
                }
            }
        }
    }
}

@media(max-width:993px){
    .ch-s{
        display:grid;
        grid-template-columns: 1fr 1fr;
        grid-row-gap: 3rem;
        width:100%;
        .div-s{
            flex: 0 0 100%;
            max-width: 100%;
        }
    }
}

@media(max-width:765px){
    .container-c .container{
    padding-right: 0; 
    padding-left: 0;
    }
    .ch-s{
        grid-template-columns: 1fr;
    }
}

