.section-fv{
    height: auto;
    width: 100%;
    display:block;
    .cl-d{
        width:100%;
        height:70vh;
        overflow: hidden;
        position: relative;
        img{
            height: 140%;
            min-width: 100%;
            bottom: 8rem;
            z-index: -1;
        }
        div.cont-img{
            padding: 40px 0;
            background-color: $background;
            position: absolute;
            top: 0;
            min-height: 100%;
            left: 0;
            right: 0;
            opacity: 0.9;
            z-index: 0; 
            display: grid;
            align-items: center;
            .container{
                background:transparent;
                color:$white-color;
                display: grid;
                grid-template-columns: 1fr;
                justify-items: center;
                gap: 30px;
                .cont-it{
                    display: grid;
                    grid-template-columns: repeat(4, 1fr);
                    .item-f{
                        width: 100%;
                        padding-right: 15px;
                        padding-left: 15px;
                        display:grid;
                        justify-items: center;
                        align-items: center;
                        h1{
                            background-color: $orange-c;
                            font-size: 24px;
                            font-weight: 300;
                            padding:0 15px;
                            width: 50px;
                            height: 50px;
                            text-align: center;
                            line-height: 50px;
                            display: inline-block;
                            @include border-radius-btn(50%);
                            
                        }
                        h2{
                            margin-top: 20px;
                            line-height: 27px;
                            font-weight: 600;
                            font-size: 22px;
                            font-family: $poppins;
                            letter-spacing:2px;
                        }
                        p{
                            margin-top: 16px;
                            text-align: center;
                            font-size: 16px;
                            line-height:24px;
                            opacity: 0.7;
                            
                            font-family: $oxigen;
                        }
                    }
                }
            }
        }
    }
}

@media(max-width:995px){
    .section-fv .cl-d{
        height:90vh;
        div.cont-img .container .cont-it{
        grid-template-columns: 1fr 1fr;        
        }
    } 
}

@media(max-width:500px){
    .section-fv .cl-d{
        height:130vh;
        div.cont-img{
            padding:0;
            .container .cont-it{
                grid-template-columns: 1fr;        
            }
        } 
    } 
}
@media(max-width:385px){
    .section-fv .cl-d{
        height:140vh;
    } 
}