//Font Variables
$roboto: 'Roboto', serif;
$poppins:'Poppins', sans-serif;
$oxigen: 'Oxigen', sans-serif;
$ubuntu: 'Ubuntu', sans-serif;
$hind: 'Hind', sans-serif;
//variables de colores
$bodyc: #111;
$top-header: #f5f5f5;
$base-color: #222042;
$point-btn: #212529;
$orange-c: #da8502;
$logo: #1a1d2d;
$light-bg-color: #f6f6f6;
$text-color: #585858;   
$white-color: #ffffff;    
$background: #09072cd9;   
$background-s: #f9f9f9; 
$border: #828282;
$background-c:#fafafa;
    
    
