//button orange
@mixin border-radius-btn($radio){
    -webkit-border-radius: $radio;
    -moz-border-radius:$radio;
    -ms-border-radius:$radio;
    border-radius:$radio;
}

@mixin theme($theme: #7a7676) {
    box-shadow: 2px 2px 20px 0 rgb(0 0 0 / 7%);
}

//card box shadow
@mixin theme-f($theme: #C4C4C433){
    box-shadow: 1px 5px 7.5px #C4C4C433;
}
@mixin theme-s($theme: #807070){
    box-shadow: 0 25px 98px 0 rgb(0 0 0 / 10%);
}





